.footer-wrapper{
    display: none;
}
.block-click{
    pointer-events: none;
}
.game-dialog-player-box.tutorial {
    min-height: unset;
    padding: 5px 40px;
    margin: 0 35px 0 0;
}
.game-dialog-player-box.tutorial:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid #393939;
    right: -15px;
    top: calc(50% - 12px);
    filter: drop-shadow(2px 0 0 white);
}
.main-game-area{
    background: linear-gradient(148deg, rgba(10, 197, 212, 0.83) 0%, rgba(16, 179, 196, 0.83) 51%, rgba(54, 149, 194, 0.83) 100%), url("https://www.devmedia.com.br/assistente/imagens/background.png") no-repeat;
    min-height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.game-dialog-area *{
    font-family: 'Share Tech Mono', monospace;
}
.game-dialog-area {
    width: 70%;
    height: calc(100vh - 180px);
    top: 35px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.game-dialog-area .Typewriter__wrapper{
    line-height: 28px;
}

.game-dialog-devbot {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.game-dialog-devbot .dev-avatar{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}

.game-dialog-devbot .dev-avatar .background-circle{
    fill: #1f4f66;
}

.game-char-devbot {
    display: block;
    width: 100%;
    height: 100%;
}

.game-dialog-devbot-box, .game-dialog-player-box {
    width: auto;
    max-width: 100%;
    background: #393939;
    color: #fff;
    height: auto;
    min-height: 125px;
    border-radius: 30px;
    margin: 0 0 0 50px;
    box-sizing: border-box;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    padding: 30px;
    /* align-items: center; */
    border-width: 2px;
    border-color: white;
    border-style: groove;
}

.game-dialog-devbot-box{
    width: 70%;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: openBalloon;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transform-origin: left;
}

.game-dialog-devbot-box p {
    padding: 1;
    opacity: 1;
    line-height: 30px;
    margin: 0;
}

.game-dialog-player-box.animateBox{
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: openBalloon;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transform-origin: right;
}

.game-dialog-player-box.animateBox ul {
    padding: 0;
    line-height: 30px;
    opacity: 0;
    animation-name: showText;
    animation-duration: 0.3s;
    animation-delay:0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    margin: 0;
}

.game-dialog-player-box{
    opacity: 0;
    margin: 0 50px 0 0;
}

.game-dialog-player-box ul {
    list-style: none;
    padding: 0 0 0 20px;
    line-height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.game-dialog-player-box ul li {
    position: relative;
}

.game-dialog-player-box ul li.selected{
    color: #0AC5D4;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.game-dialog-player-box ul li.selected:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #0AC5D4;
    left: -12px;
    top: 7px;
}

.game-dialog-player {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0px;
    min-height: 160px;
}

.game-char-player {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.6);
}

.game-dialog-devbot-box:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 35px solid #393939;
    left: -35px;
    top: calc(50% - 22px);
    filter: drop-shadow(-2px 0 0 white);
}

.game-dialog-player-box:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 35px solid #393939;
    right: -34px;
    top: calc(50% - 22px);
    filter: drop-shadow(2px 0 0 white);
}

.game-dialog-box-photo {
    height: 120px;
    width: 120px;
    flex: 0 0 auto;
}

.game-dialog-player .game-dialog-box-photo{
    opacity: 0;
}
.game-dialog-player .game-dialog-box-photo.animateText{
    animation-duration: 0.5s;
    animation-delay:0s;
    animation-name: showText;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.action-link-option {
    text-decoration: none;
    color: inherit;
}

@media(max-width: 1023px){
    .main-game-area {
        padding: 50px 0;
    }
    .game-dialog-devbot-box:before{
        display: none;
    }
    .game-dialog-player-box:after{
        display: none;
    }
    .game-dialog-area{
        width: 100%;
        height: calc(100% - 40px);
        top: -20px;
    }
    .game-dialog-devbot{
        padding: 0 15px 0 15px;
        box-sizing: border-box;
    }
    .game-dialog-player{
        padding: 0 15px 0 15px;
        box-sizing: border-box;
    }
    .game-dialog-devbot-box {
        margin: 0 0 0 10px;
        width: 80%;
    }
    .game-char-devbot {
        display: block;
        width: 100%;
        height: 100%;
    }
    .game-char-player {
        display: block;
        width: 100%;
        height: 100%;
    }
    .game-dialog-box-photo {
        width: 50px;
        height: 50px;
    }
    
    .game-dialog-player-box {
        margin: 0 10px 0 0;
    }

    .game-dialog-player-box ul li.selected:before {
        left: -20px;
    }
    
    .game-dialog-player-box ul {
        padding: 0 10px 0 10px;
        align-items: flex-start;
    }
}

@keyframes openBalloon{
    0%{transform: scale(0,.3);opacity: 0;}
    100%{transform: scale(1,1);opacity: 1;}
}

@keyframes showText{
    0%{opacity: 0;pointer-events: none;}
    100%{opacity: 1; pointer-events: auto;}
}
